<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
<b><%= link_to "PARFUM TM", root_path, :class => "navbar-brand", :style => "font-family: 'BankGothic Md BT'; font-size: 30px; color:white;"%></b>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Link</a>
        </li>
        <li class="nav-item dropdown" style="color: white;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Dropdown
          </a>

          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" style="color: white;">Action</a></li>
            <li><a class="dropdown-item" href="#" style="color: white;">Another action</a></li>
            <li><hr class="dropdown-divider" style="color: white;"></li>
            <li><a class="dropdown-item" href="#" style="color: white;">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color: white;">Disabled</a>
        </li>
      </ul>
      <div class="">
        <%= render 'include/home/basket' %>
        <%= render 'include/home/user_button' %>
      </div>

    </div>

        </div>


</nav>
