
<div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

    <% @carousel.each do |i| %>

      
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= @a + i.id %>" aria-label="Slide <%= @a + i.id + 1 %>"></button>
    <% end %>



  </div>
  <div class="carousel-inner">
    <% @carousel_active.each do |carousel| %>
    <div class="carousel-item active">
      <%= image_tag(carousel.banner, class:"d-block w-100", alt:"...") %>

    </div>
    <% end %>
    <% @carousel.each do |carousel| %>
    <div class="carousel-item">
      <%= image_tag(carousel.banner, class:"d-block w-100", alt:"...") %>

    </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
